body p {
    color: green;
}

body{
background-color: black;
color: white !important;
font-family: Verdana;
color: red;
}

p {
    color: blue;
}

  h1{
        font-family: Arial;
    }   
a {
    color: white;
}

div{
    margin-top: 10px;
    margin-left: 20px;
}